
            body {
                background-color: silver;
            }

            h2 {
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 15px;
            }

            h3 {
                font-family: monospace;
                color: black;
                font-size: 15px;
            }

            h4 {
                font-size: 15px;
            }

            p {
                font-family: monospace;
            }

            /* Box individual de cada link interno */
            .boxTemplates {
                width: fit-content;
                background-color: rgb(204, 233, 235);
                display: inline-block;
                font-weight: 200;
                margin: 10px;
                padding: 10px 5px;
                border-radius: 5px;
                text-align: center;
                cursor: pointer;
            }

            /* cor do menu e centraliza o Head 2 na página */
            .menuColor {
                color: black;
                text-decoration: none;
                text-align: center;

            }

            .pp {
                border-radius: 10%;
                border-style: solid;
            }

            h1 {
                text-align: center;
            }

            


        
            